* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-bg: rgb(30 24 43);
  --secondary-bg: rgb(28, 26, 26);

  --main-color: rgb(0, 199, 199);
  --secondary-color: rgb(115, 25, 199);
  --third-color: white;
}

body {
  background-color: var(--main-bg);
}
