* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*banner*/
.hockey_photo > img {
  position: relative;
  margin-top: 65px;
  width: 100%;
  height: 320px;
  object-fit: unset;
  opacity: 0.7;
}

/*titles*/
.container-title > h1 {
  position: absolute;
  top: 8px;
  left: 25px;
}

h1 {
  font-size: 40px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/*logo*/
.logo > img {
  width: 125px;
  height: 125px;
  bottom: 20px;
  left: 15px;
}

/*subtitle*/
.subtitle {
  width: 100%;
  height: 60px;
  bottom: 170px;
}

.subtitle > h3 {
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
  padding: 20px;
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/*information*/
p {
  color: black;
  font-size: 14px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.container-info {
  padding: 25px;
}

/*navigation*/
.container-link {
  display: inline-block;
}

.container-link a {
  padding: 5px;
  margin-left: 5px;
  position: relative;
  top: -540px;
  left: 275px;
  text-decoration: none;
  border: 1px solid blue;
  background-color: blue;
  letter-spacing: 1px;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 16px;
}

.container-link a:active {
  background-color: green;
  border: green 1px solid;
}

/*information*/
.container-list {
  padding: 60px;
  margin-left: 140px;
}

ul {
  list-style-type: none;
}

.list-title {
  font-weight: bold;
  font-style: italic;
  padding-bottom: 10px;
}

.info-list {
  padding-bottom: 20px;
  padding-left: 60px;
}

/*VIEW GAME*/
/*schedule*/
table {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
}

th {
  background-color: rgb(73, 99, 243);
  color: white;
  border: 1px solid rgb(17, 17, 17);
  padding: 20px;
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

td {
  border: 1px solid rgb(17, 17, 17);
  padding: 5px;
  background-color: rgb(202, 194, 194);
}
/*information*/
.info-game {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

/*contact*/
.contact-game {
  display: flex;
  justify-content: center;
  padding: 20px;
}

/*VIEW RULES*/
.rules-game {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 115px;
  margin-right: 80px;
  margin-left: 80px;
  flex-direction: column;
}

.subtitle-rule h2 {
  color: rgb(61, 60, 141);
  padding: 20px;
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.item-list {
  list-style-type: circle;
}

/*VIEW GAME*/
.mapContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.iframe-container {
  height: 180px;
  width: 180px;
  padding: 10px;
}

/*VIEW REGISTRATION*/
form {
  display: flexbox;
  align-items: center;
  justify-content: center;
}

fieldset {
  width: 800px;
  margin: 20px;
  padding: 20px;
  border: 1px solid rgb(61, 60, 141);
}

input {
  padding: 5px;
  margin: 10px;
}

fieldset p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 15px;
  color: rgb(61, 60, 141);
  padding: 10px;
}

legend {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 15px;
  color: black;
  font-weight: bold;
  padding: 10px;
}
